<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
      <ion-content ng-controller="ctrl">
    </br></br></br>

   <!--   <img src="img/Play_button.png" ng-click="play()" width="50" height="50">
      <img src="img/Stop_button.png" ng-click="stop()" width="50" height="50"> -->
      <button class="button ion-play" ng-click="play()"></button>
      <button class="button ion-pause" ng-click="pause()"></button>
      <button class="button ion-stop" ng-click="stop()"></button> 

      <input type="range" ng-model="adjust" on-release="seek()" ng-init="adjust=0" min=0 max=100>
      <p>{{adjust}}</p>
      
      <button class="button button-full button-light" ng-click="init()">Get duration</button>
      </ion-content>
    </ion-pane>
  </body>
</html>
